@tailwind base;
@tailwind components;
@tailwind utilities;
.headingTwo{
  @apply text-white sm:text-base  font-sans font-bold mb-4
}
.anchorTag{
  @apply text-white text-base  font-sans no-underline block transition-all duration-300 ease-in-out leading-5 text-ellipsis 
}

.mainFooter{
  background-color: #A16733;
}
.bg-image{
  background-image: url('.././src/assets/wallpaperflare.com_wallpaper\ \(16\).jpg');
  background-size: cover;
  background-position: center;
  /* filter: brightness(0.6); */
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0rem;
  z-index: -1;
  height: 100vh;
  background-attachment: fixed;
}
.bg-image-about{
  background-image: url('.././src/assets/pnglogo.png');
  background-size: cover;
  background-position: center;
  /* filter: brightness(0.9); */
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0rem;
  z-index: -1;
  height: 100vh;
  background-attachment: fixed;
}
.bg-image-1 {
  background-image: url(".././src/assets/pnglogo.png");
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
  position: relative;
  top: 0rem;
  left: 0;
  right: 0;
  bottom: 0rem;
  z-index: -1;
  height: 100vh; 
  background-attachment: fixed;
}
.userLogin{
  background-image: url('.././src/assets/africulture.webp');
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}
